.full
  .left_column.articles
    %h1= t.main_menu.articles

    - if @article
      = content_tag :span, class: 'slide' do
        = image_tag(@article.picture.main.url)
        -#%span.left_arrow.hidden
        -#%span.right_arrow.hidden
        -#%span.zoom
        = link_to '', @article.picture.url, class: 'fancybox'

      %h2= @article.title # @article.title_ru

      = raw @article.content

  .right_column.articles
    %ul
      - @articles.each do |article|
        %li{ class: article.id == @article.id ? 'active' : '' }
          = link_to article do
            = image_tag article.picture.item.url

