.full
  .left_column.articles
    %h1 Публикации

    - if @article
      = link_to @article.picture.url, class: 'fancybox' do
        = image_tag @article.picture.main.url

      %h2= @article.title

      = raw @article.content

  .right_column.articles
    %ul
      - @articles.each do |article|
        %li{ class: article.id == @article.id ? 'active' : '' }
          = link_to article do
            = image_tag article.picture.item.url

