.full
  .left_column
    -#%h1= t.main_menu.articles
    %h1= @article.title

    - if @article
      -# content_tag :span, class: 'slide' do
        = image_tag(@article.picture.main.url)
        = link_to '', @article.picture.url, class: 'fancybox'

    - @article.article_items.order(:position).each do |item|
      = content_tag :div, class: 'slide' do
        = image_tag(item.picture.main.url, class: 'bg')
        = link_to '', item.picture.full.url, class: 'fancybox', rel: 'gallery', data: { title: "<a href='#{ item.picture.url }' data-new-window='true'>#{ t.helpers.labels.real_size }</a>" }
      %br


    -#%h2= @article.title

    = raw @article.content

  .right_column.articles
    %ul
      - @articles.each do |article|
        %li{ class: article.id == @article.id ? 'active' : '' }
          = link_to article do
            = image_tag article.picture.item.url

