.full
  .left_column.articles
    %h1= t.main_menu.awards

    - if @award
      = content_tag :span, class: 'slide' do
        = image_tag(@award.picture.main.url)
        -#%span.left_arrow.hidden
        -#%span.right_arrow.hidden
        -#%span.zoom
        = link_to '', @award.picture.url, class: 'fancybox'

    .clear
    %br
    = raw @award.content

  .right_column.articles
    %ul
      - @awards.each do |award|
        %li{ class: award.id == @award.id ? 'active' : '' }
          = link_to award do
            = image_tag award.picture.item.url

  %div{ style: 'padding-bottom: 120px;' }





