.full
  .left_column.articles
    %h1 Награды

    = image_tag 'tmp/award.png'

  .right_column.articles
    %ul
      %li.active
        = link_to '' do
          = image_tag 'tmp/award_preview.png'
      %li
        = link_to '' do
          = image_tag 'tmp/award_preview.png'
      %li
        = link_to '' do
          = image_tag 'tmp/award_preview.png'
      %li
        = link_to '' do
          = image_tag 'tmp/award_preview.png'
      %li
        = link_to '' do
          = image_tag 'tmp/award_preview.png'
      %li
        = link_to '' do
          = image_tag 'tmp/award_preview2.png'
      %li
        = link_to '' do
          = image_tag 'tmp/award_preview.png'
      %li
        = link_to '' do
          = image_tag 'tmp/award_preview2.png'
      %li
        = link_to '' do
          = image_tag 'tmp/award_preview.png'
      %li
        = link_to '' do
          = image_tag 'tmp/award_preview2.png'
      %li
        = link_to '' do
          = image_tag 'tmp/award_preview2.png'




