.full

  %ul.entries.x3
    %li.s
      .wrap{ style: "background-image: url('#{ image_url('tmp/rzhd.png') }');" }
      %p Рабочий стол Экобаланс
    %li.c
      .wrap{ style: "background-image: url('#{ image_url('tmp/lucoil.png') }');" }
      %p ОАО "РЖД" (Российские железные дороги)
    %li
      .wrap{ style: "background-image: url('#{ image_url('tmp/aeroexpress.png') }');" }
      %p
        "РЖД" (Российские железные дороги)
        ОАО "РЖД" (Российские железные дороги)
    %li
      .wrap{ style: "background-image: url('#{ image_url('tmp/mts.png') }');" }
      %p ОАО "РЖД" (Российские железные дороги)
    %li.c
      .wrap{ style: "background-image: url('#{ image_url('tmp/mosenergo.png') }');" }
      %p
        ОАО "РЖД" (Российские железные дороги)
        ОАО "РЖД" (Российские железные дороги)
    %li.s
      .wrap{ style: "background-image: url('#{ image_url('tmp/vtb.png') }');" }
      %p ОАО "РЖД" (Российские железные дороги)
    %li.s
      .wrap{ style: "background-image: url('#{ image_url('tmp/locomotiv.png') }');" }
      %p ОАО "РЖД" (Российские железные дороги)
    %li.c
      .wrap{ style: "background-image: url('#{ image_url('tmp/caravan.png') }');" }
      %p
        ОАО "РЖД" (Российские железные дороги)
        ОАО "РЖД" (Российские железные дороги)
        ОАО "РЖД" (Российские железные дороги)
    %li
      .wrap{ style: "background-image: url('#{ image_url('tmp/ees.png') }');" }
      %p ОАО "РЖД" (Российские железные дороги)
    %li
      .wrap{ style: "background-image: url('#{ image_url('tmp/pilgrim.png') }');" }
      %p ОАО "РЖД" (Российские железные дороги)
    %li.c
      .wrap{ style: "background-image: url('#{ image_url('tmp/moesk.png') }');" }
