.full
  #project_groups_menu{ data: { overlay: 'container' } }
    = link_to 'pro бюро', '', data: { overlay: 'switcher' }
    %ul{ data: { overlay: 'object' } }
      %li= link_to 'все', projects_path
      %li= link_to 'жилые', projects_path
      %li= link_to 'офисные', projects_path
      %li= link_to 'торговые', projects_path

  %ul.entries.x3
    %li.s.h
      = link_to image_tag('tmp/projects_index_preview_h.png'), project_path(1)
      Рабочий стол Экобаланс
    %li.c.h
      = link_to image_tag('tmp/projects_index_preview_h.png'), project_path(1)
      Рабочий стол Экобаланс Рабочий стол Экобаланс
    %li.v
      = link_to image_tag('tmp/projects_index_preview_v.png'), project_path(1)
      Рабочий стол Экобаланс Рабочий стол Экобаланс Рабочий стол Экобаланс
    %li.v
      = link_to image_tag('tmp/projects_index_preview_v.png'), project_path(1)
      Рабочий стол Экобаланс
    %li.c.h
      = link_to image_tag('tmp/projects_index_preview_h.png'), project_path(1)
      .projects_menu{ data: { overlay: 'container' } }
        = link_to 'Рабочий стол Экобаланс', '', data: { overlay: 'switcher' }
        %ul{ data: { overlay: 'object' } }
          %li
            %span Публикации
          %li= link_to 'Эксперт', article_path(1)
          %li= link_to 'Большой город', article_path(1)
    %li.s.h
      = link_to image_tag('tmp/projects_index_preview_h.png'), project_path(1)
      .projects_menu{ data: { overlay: 'container' } }
        = link_to 'Рабочий стол Экобаланс Рабочий стол Экобаланс', '', data: { overlay: 'switcher' }
        %ul{ data: { overlay: 'object' } }
          %li
            %span Публикации
          %li= link_to 'Эксперт', article_path(1)
          %li= link_to 'Большой город', article_path(1)
    %li.s.h
      = link_to image_tag('tmp/projects_index_preview_h.png'), project_path(1)
      Рабочий стол Экобаланс
    %li.c.h
      = link_to image_tag('tmp/projects_index_preview_h.png'), project_path(1)
      Рабочий стол Экобаланс Рабочий стол Экобаланс
    %li.v
      = link_to image_tag('tmp/projects_index_preview_v.png'), project_path(1)
      Рабочий стол Экобаланс
    %li.h
      = link_to image_tag('tmp/projects_index_preview_h.png'), project_path(1)
      Рабочий стол Экобаланс
    %li.c.h
      = link_to image_tag('tmp/projects_index_preview_h.png'), project_path(1)

  .clear
