.full
  - if @group
    #project_groups_menu{ data: { overlay: 'container' } }
      = link_to @group.title, projects_path(group: @group), data: { overlay: 'switcher' }

      %ul{ data: { overlay: 'object' } }
        - @category.groups.each do |g|
          %li
            - if g.persisted?
              = link_to g.title, projects_path(group: g)
            - else
              = link_to g.title, projects_path(category: @category)

  - if @projects
    %ul.entries.x3
      - @projects.each_with_index do |pr, i|
        - cls = [(i % 6 == 0 || (i + 1) % 6 == 0) && 's', (i + 2) % 3 == 0 && 'c', pr.vertical ? 'v' : 'h'].reject(&:blank?).join(' ')

        %li{ class: cls }
          = link_to image_tag(pr.picture.item.url), pr
          = pr.title


  .clear
  %div{ style: 'padding-bottom: 120px;' }



-#
  <li class="s h">
  <a href="/projects/1"><img alt="Projects index preview h" src="/assets/tmp/projects_index_preview_h-c058c9b6dadd268b701a077bbb409b41.png"></a>
  <div class="projects_menu" data-overlay="container">
  <a data-overlay="switcher" href="">Рабочий стол Экобаланс Рабочий стол Экобаланс</a>
  <ul data-overlay="object" style="width: 214px;">
  <li>
  <span>Публикации</span>
  </li>
  <li><a href="/articles/1">Эксперт</a></li>
  <li><a href="/articles/1">Большой город</a></li>
  </ul>
  </div>
  </li>
