.full
  .left_column
    %h1= @project.title

    - if @project.main_item
      - s = @project.main_item.picture ? @project.main_item.picture.url : @project.picture.url
      = link_to s, class: 'fancybox' do
        = image_tag(s, class: 'bg')
        %span.left_arrow.hidden
        %span.right_arrow.hidden
        %span.zoom

    = raw @project.content


  .right_column
    %ul
      - @project.items.each_with_index do |item, i|
        - cls = [ i == 0 ? 'active' : '', item.double ? 'double' : '' ].join(' ')
        %li{ class: cls }
          = image_tag item.picture.preview, data: { src: item.picture.main.present? ? item.picture.main.url : item.picture.url, full: item.picture.url }

