.full
  .left_column
    %h1= @project.title

    = content_tag :div, class: 'slide' do
      = render @project.main_item if @project.main_item

    = raw @project.content


  .right_column
    %ul
      - @project.items.each_with_index do |item, i|
        - cls = [ i == 0 ? 'active' : '', item.double ? 'double' : '' ].join(' ')
        %li{ class: cls }
          = link_to item, remote: true do
            = image_tag item.picture.preview.url

