- project_item ||= @project_item

- if project_item.picture.main.present?
  = image_tag(project_item.picture.main.url, class: 'bg')
  = link_to project_item.prev, class: 'left_arrow', remote: true do
    %span
  = link_to project_item.next, class: 'right_arrow', remote: true do
    %span

- project_item.project.items.each_with_index do |item, i|
  - if item.id == project_item.id && project_item.picture.full.present?
    = link_to '', project_item.picture.full.url, class: 'fancybox', rel: 'gallery', data: { title: "<a href='#{ project_item.picture.url }' data-new-window='true'>#{ t.helpers.labels.real_size }</a>" }

  - else
    = link_to '', item.picture.full.url, class: 'fancybox hidden', rel: 'gallery', data: { title: "<a href='#{ item.picture.url }' data-new-window='true'>#{ t.helpers.labels.real_size }</a>" }

