.full
  .left_column
    = image_tag 'tmp/about.png'

    %h2
      Алексей Горяинов и Михаил Крымов,
      %span основатели Arch Group

    %p Архитектурная мастерская «Arch group» создана в 2007 году Алексеем Горяиновым и Михаилом Крымовым. За прошедшее время нами выполнен ряд архитектурных и интерьерных проектов, большинство из которых реализованы или находятся в стадии строительства. Как проекты, так и реализации отмечены профессиональными премиями и публикациями в прессе.

    %p Архитектурная мастерская «Arch group» выполняет весь комплекс проектных работ от первых консультаций и разработки концепции до выполнения рабочей документации во всех разделах и авторского надзора за строительством.

    %p Мастерская «Arch group» имеет лицензию на все основные виды проектных работ, архитекторы Крымов М. и Горяинов А. являются членами союза архитекторов. Коллектив мастерской состоит из профессионалов, увлеченных своим делом.

    %p Наша цель состоит в выявлении максимального эстетического и функционального потенциала проекта и последующей его качественной реализации, с учетом пожеланий заказчика.

    %p Мы считаем, что качественная архитектура не должна являться финансовым обременением для бюджета заказчика. Она является результатом профессионального подхода архитектора и его заинтересованности в конечном результате, при этом основой качественной архитектуры является внимание к деталям, выраженное в тщательно проработанной проектной документации.

    %p Наша цель состоит в выявлении максимального эстетического и функционального потенциала проекта и последующей его качественной реализации, с учетом пожеланий заказчика.

    %p Мы считаем, что качественная архитектура не должна являться финансовым обременением для бюджета заказчика. Она является результатом профессионального подхода архитектора и его заинтересованности в конечном результате, при этом основой качественной архитектуры является внимание к деталям, выраженное в тщательно проработанной проектной документации.

    %p Наша цель состоит в выявлении максимального эстетического и функционального потенциала проекта и последующей его качественной реализации, с учетом пожеланий заказчика.

    %p Мы считаем, что качественная архитектура не должна являться финансовым обременением для бюджета заказчика. Она является результатом профессионального подхода архитектора и его заинтересованности в конечном результате, при этом основой качественной архитектуры является внимание к деталям, выраженное в тщательно проработанной проектной документации.

    %p Наша цель состоит в выявлении максимального эстетического и функционального потенциала проекта и последующей его качественной реализации, с учетом пожеланий заказчика.

    %p Мы считаем, что качественная архитектура не должна являться финансовым обременением для бюджета заказчика. Она является результатом профессионального подхода архитектора и его заинтересованности в конечном результате, при этом основой качественной архитектуры является внимание к деталям, выраженное в тщательно проработанной проектной документации.


  .right_column
    %ul
      %li
        = image_tag 'tmp/about_person.png'
        %p
          %strong Григорий Тараненко,
          %br
          директор по развитию
      %li
        = image_tag 'tmp/about_person.png'
        %p
          %strong Савостьянова Александра,
          %br
          заместитель директора по развитию
      %li
        = image_tag 'tmp/about_person.png'
        %p
          %strong Зенкин Владимир Константинович,
          %br
          ГИП
      %li
        = image_tag 'tmp/about_person.png'
        %p
          %strong Григорий Тараненко,
          %br
          директор по развитию
      %li
        = image_tag 'tmp/about_person.png'
        %p
          %strong Савостьянова Александра,
          %br
          заместитель директора по развитию
      %li
        = image_tag 'tmp/about_person.png'
        %p
          %strong Зенкин Владимир Константинович,
          %br
          ГИП
      %li
        = image_tag 'tmp/about_person.png'
        %p
          %strong Савостьянова Александра,
          %br
          заместитель директора по развитию
      %li
        = image_tag 'tmp/about_person.png'
        %p
          %strong Зенкин Владимир Константинович,
          %br
          ГИП

