.full
  .left_column
    = image_tag @doc.section('left_column').picture
    = raw @doc.section('left_column').content


  .right_column
    =# raw @doc.section('right_column').content

    %ul
      - @employees.each do |e|
        %li
          = image_tag e.photo.item.url
          %p
            = content_tag :strong, "#{ e.name }#{ e.post ? ',' : '' }"
            - if e.post
              %br
              = e.post
