.present
  = raw @doc.section('present').content

.left_column
  = raw @doc.section('left_column').content


.right_column
  %ul
    - @news_list.each do |news|
      %li
        %p
          = image_tag image_url(news.picture.item.url)
          %span.event_date= link_to l(news.created_at.to_date), "#{ news_index_path }#id#{ news.id }"
          = raw news.intro
        .clear


