.present
  %h1= t('.latest')
  = link_to image_tag(@doc.project1.picture.preview.url), @doc.project1 if @doc.project1
  .clear
  = link_to image_tag(@doc.project2.picture.preview.url), @doc.project2 if @doc.project2
  .clear
  = link_to image_tag(@doc.project3.picture.preview.url), @doc.project3 if @doc.project3

.left_column
  - if @gallery_items
    - active = rand(@gallery_items.size)
    - @gallery_items.each_with_index do |item, i|
      = div_for item, class: i == active ? 'active' : '', data: { index: i } do
        = image_tag item.picture.main.url, class: 'bg'
  - elsif @doc.section('left_column').try(:picture)
    = image_tag @doc.section('left_column').picture.url, class: 'bg'


.right_column.no_pad
  = link_to t('.all_news'), news_index_path, class: 'all'
  .clear
  %ul
    - @news_list.each do |news|
      %li
        %p
          = image_tag image_url(news.picture.item.url) if news.picture.item.url
          -#%span.event_date= link_to l(news.created_at.to_date), "#{ news_index_path }#id#{ news.id }"
          %span.event_date= l(news.created_at.to_date)
          %br
          = raw news.intro
        .clear


