.present
  %h1 Самое новое
  = link_to '', '#'
  = link_to '', '#'
  = link_to '', '#'

.left_column
  = image_tag 'tmp/home_main_photo.jpg', class: 'bg'

.right_column
  %ul
    %li
      %p
        = image_tag image_url('tmp/sidebar_article_photo.png')
        12.05.1904<br>
        "Верить или не верить?".  Достаточно надавить пальцем на глазное яблоко, и  все  реальные  предметы  -  в отличие от галлюцинаций - раздвоятся. Зеркало раздвоилось,  и в нем  появилось  мое  отражение  -  заспанная, встревоженная физиономия.  По ногам дуло.  Поджимая пальцы, я подошел к окну и выглянул.
      .clear
    %li
      %p
        = image_tag image_url('tmp/sidebar_article_photo.png')
        12.05.1904<br>
        Первым в  списке  значился  директор  института  Янус   Полуэктович Невструев с  карандашной  пометкой "два экз.".  Вторым шел лично Модест Матвеевич, третьим - товарищ завкадрами гражданин Демин Кербер Псоевич. А дальше шли фамилии, которых я никогда и нигде не встречал.
      .clear
    %li
      %p
        = image_tag image_url('tmp/sidebar_article_photo.png')
        12.05.1904<br>
        В целях природы обуздания,
        В целях рассеять неученья Тьму
        Берем картину мирозданья - да! И тупо смотрим, что к чему...
      .clear
    %li
      %p
        = image_tag image_url('tmp/sidebar_article_photo.png')
        12.05.1904<br>
        Он приблизился к кадавру,  и кадавр сейчас же  принялся  жадно  его обнюхивать. Выбегалло отдал ему зипун. - Потребности надо удовлетворять!  - говорил он, торопливо щелкая переключателями на пульте конвейера.  - Почему сразу не дала? Ох уж эти ле фам,  ле фам*!..  Кто сказал,  что  сломан?  И  не  сломан  вовсе,  а заговорен.  Чтоб,  значить,  не всяк мог пользоваться,  потому что, эта, потребности у всех, а селедка - для модели...
      .clear


:javascript
  // App.refine_home_bg()
