.inner
  %nav
    = link_to '', root_path, class: 'logo'
    %ul#main_menu
      %li= link_to 'контакты', web_path(:contacts)
      %li= link_to 'клиенты', web_path(:clients)
      %li#main_menu_pro.submenu{ data: { overlay: 'container' } }
        .wrap
          = link_to 'pro бюро', '', data: { overlay: 'switcher' }
          %ul{ data: { overlay: 'object' } }
            %li= link_to 'Новости', news_index_path
            %li= link_to 'О компании', web_path(:about)
            %li= link_to 'Публикации', articles_path
            %li= link_to 'Награды', awards_path
            -#%li= link_to 'Пресс-пакеты', '#'

  %section#top_links
    .social
      = link_to '', '#', class: 'vkontakte'
      = link_to '', '#', class: 'facebook'
    = link_to 'eng', '#', class: 'locale'

#top_menu
  %ul
    - @project_categories.each do |pc|
      %li{ class: (params[:category].to_i == pc.id) ? 'active' : '' }
        .wrap= link_to pc.title, projects_path(category: pc)

