.inner
  %nav
    = link_to '', root_path, class: 'logo'
    %ul#main_menu
      %li#main_menu_pro.submenu{ data: { overlay: 'container' } }
        .wrap
          = link_to t.main_menu.about, '', data: { overlay: 'switcher' }
          %ul{ data: { overlay: 'object' } }
            %li= link_to t.main_menu.news, news_index_path
            %li= link_to t.main_menu.company, web_path(:about)
            %li= link_to t.main_menu.articles, articles_path
            %li= link_to t.main_menu.awards, awards_path
            %li= link_to t.main_menu.international, web_path(:international)
            -#%li= link_to 'Пресс-пакеты', '#'
      %li= link_to t.main_menu.clients, web_path(:clients)
      %li= link_to t.main_menu.contacts, web_path(:contacts)

  %section#top_links
    -#.social
      = @layout_doc.section(:social).try(:content) if @layout_doc
      =# link_to '', '#', class: 'vkontakte'
      =# link_to '', '#', class: 'facebook'
    - if r18n.locale.code == 'ru'
      =# link_to 'eng', url_for(locale: 'en'), class: 'locale'
      = link_to 'eng', "//arch-group.com#{ request.fullpath.sub('/ru', '') }", class: 'locale'
    - else
      =# link_to 'рус', url_for(locale: ''), class: 'locale'
      = link_to 'рус', "//arch-group.ru#{ request.fullpath.sub('/en', '') }", class: 'locale'

  %section#top_share_links
    %script{ src: "//yastatic.net/share/share.js", charset: "utf-8" }
    .yashare-auto-init{ data: { yashareL10n: r18n.locale.code, yashareType: "link", yashareQuickServices: "vkontakte,facebook,twitter" } }

#top_menu
  - if @project_categories
    %ul
      - @project_categories.each do |pc|
        %li{ class: (params[:category].to_i == pc.id) ? 'active' : '' }
          .wrap= link_to pc.title, projects_path(category: pc)
