!!!
%html
  %head= render 'layouts/html_head'

  %body.inner{ id: "#{ controller_name }_controller" }
    %header= render 'layouts/header'
    = render 'layouts/projects_index'

    #content
      .inner= yield

    #footer= render 'layouts/footer'
