!!!
%html{ lang: r18n.locale.code }
  %head
    = render 'layouts/html_head'
    = yield :head_extra

  %body.inner{ id: "#{ controller_name }_controller" }
    .global_wrap
      %header= render 'layouts/header'
      = render 'layouts/projects_index'

      #content
        .inner{ id: "#{ action_name }_action" }= yield

    #footer= render 'layouts/footer'
